@page "/bidipmodels/delete"
@using Microsoft.EntityFrameworkCore
@using BidIP.Models
@inject IDbContextFactory<BidIP.Data.BidIPContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Delete</PageTitle>

<h1>Delete</h1>

<p>Are you sure you want to delete this?</p>
<div>
    <h2>BidIpModel</h2>
    <hr />
    @if (bidipmodel is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Name</dt>
            <dd class="col-sm-10">@bidipmodel.Name</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">IpAddress</dt>
            <dd class="col-sm-10">@bidipmodel.IpAddress</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">LastTime</dt>
            <dd class="col-sm-10">@bidipmodel.LastTime</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">LastSSYTime</dt>
            <dd class="col-sm-10">@bidipmodel.LastSSYTime</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">SsyCount</dt>
            <dd class="col-sm-10">@bidipmodel.SsyCount</dd>
        </dl>
        <EditForm method="post" Model="bidipmodel" OnValidSubmit="DeleteBidIpModel" FormName="delete" Enhance>
            <button type="submit" class="btn btn-danger" disabled="@(bidipmodel is null)">Delete</button> |
            <a href="/bidipmodels">Back to List</a>
        </EditForm>
    }
</div>

@code {
    private BidIpModel? bidipmodel;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        bidipmodel = await context.BidIpModel.FirstOrDefaultAsync(m => m.Id == Id);

        if (bidipmodel is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    private async Task DeleteBidIpModel()
    {
        using var context = DbFactory.CreateDbContext();
        context.BidIpModel.Remove(bidipmodel!);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/bidipmodels");
    }
}
