@page "/machinedetailinfos/details"
@using Microsoft.EntityFrameworkCore
@using BidIP.Models
@inject IDbContextFactory<BidIP.Data.BidIPContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>MachineDetailInfo</h2>
    <hr />
    @if (machinedetailinfo is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Name</dt>
            <dd class="col-sm-10">@machinedetailinfo.Name</dd>
            <dt class="col-sm-2">IpAddress</dt>
            <dd class="col-sm-10">@machinedetailinfo.IpAddress</dd>
            <dt class="col-sm-2">LastTime</dt>
            <dd class="col-sm-10">@machinedetailinfo.LastTime</dd>
            <dt class="col-sm-2">LastSSYTime</dt>
            <dd class="col-sm-10">@machinedetailinfo.LastSSYTime</dd>
            <dt class="col-sm-2">SsyCount</dt>
            <dd class="col-sm-10">@machinedetailinfo.SsyCount</dd>
        </dl>
        <div>
            <a href="@($"/machinedetailinfos/edit?id={machinedetailinfo.Id}")">Edit</a> |
            <a href="@($"/machinedetailinfos")">Back to List</a>
        </div>
    }
</div>

@code {
    private MachineDetailInfo? machinedetailinfo;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        machinedetailinfo = await context.MachineDetailInfo.FirstOrDefaultAsync(m => m.Id == Id);

        if (machinedetailinfo is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
