@page "/machinedetailinfos"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using BidIP.Models
@using BidIP.Data
@implements IAsyncDisposable
@inject IDbContextFactory<BidIP.Data.BidIPContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="machinedetailinfos/create">Create New</a>
</p>

<MudTable Items="@tableInfo" Hover="true" Breakpoint="Breakpoint.Sm" LoadingProgressColor="Color.Info">
    <HeaderContent>
        <MudTh>Name</MudTh>
        <MudTh>IpAddress</MudTh>
        <MudTh>LastTime</MudTh>
        <MudTh>LastSSYTime</MudTh>
        <MudTh>SsyCount</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Name">@context.Name</MudTd>
        <MudTd DataLabel="IpAddress">@context.IpAddress</MudTd>
        <MudTd DataLabel="LastTime">@context.LastTime</MudTd>
        <MudTd DataLabel="LastSSYTime">@context.LastSSYTime</MudTd>
        <MudTd DataLabel="SsyCount">@context.SsyCount</MudTd>
        <MudTd>
            <a href="@($"machinedetailinfos/edit?id={context.Id}")">Edit</a> |
            <a href="@($"machinedetailinfos/details?id={context.Id}")">Details</a> |
            <a href="@($"machinedetailinfos/delete?id={context.Id}")">Delete</a>
        </MudTd>
    </RowTemplate>
</MudTable>

@code {
    private BidIPContext context = default!;
    private IEnumerable<MachineDetailInfo> tableInfo;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
        tableInfo = context.MachineDetailInfo;
    }


    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
